# OSX
**/.DS_Store

# JetBrains
**/.idea/


# Environments
**/.env
**/venv/

# AWS SAM CLI
lambda-eip-assigner/.aws-sam/



# Terraform
.terraform/
.terraform.lock.hcl

*.tfstate
*.tfstate.*

*.tfplan