# OSX
**/.DS_Store

# JetBrains
**/.idea/


# Environments
**/.env
**/venv/


# Lambda
## AWS SAM CLI
lambda-eip-assigner/.aws-sam/

## locals
lambda-eip-assigner/env.local.json


# Terraform
.terraform/
.terraform.lock.hcl

*.tfstate
*.tfstate.*

*.tfplan